%h1 Bookmarks

- if policy(Bookmark.new).create?
  = link_to "New", new_bookmark_path, class: 'btn btn-success'

%h2 My Bookmarks
- if current_user
  - @my_bookmarks.each do |bookmark|
    .media
      .media-body
        = link_to bookmark.title, bookmark.url
        = link_to "Delete", bookmark, method: :delete

%h2 All Bookmarks
- @bookmarks.each do |bookmark|
  .media
    .media-body
      = link_to bookmark.title, bookmark.url
